Flask
flask-cors
python-dotenv
Pillow
python-barcode
arabic-reshaper==3.0.0
python-bidi==0.4.2
pandas
openpyxl
reportlab
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
